:root {
  --caterpieGreen: #86C776
  --caterpieOrange: #F47C55
  --caterpieYellow: #FCE496
  --caterpieShadowOrange: #74A364
  --caterpieShadowGreen: #BB6346
  --caterpieShadowYellow: #B6A676
  --caterpieLightGreen: #C2E1BA
  --caterpieLightOrange: #F8A68C
  --caterpieLightYellow: #FDEFBB
  --caterpieBlack: #161717
  --caterpieDarkGray: #444647
  --caterpieLightGray: #727475
}

body {
  font-family: Helvetica;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#mainNavDiv {
  background-color: --caterpieOrange;
  text-transform: uppercase;
  text-color: --caterpieBlack;
}
