:root {
  --caterpieGreen: #86C776;
  --caterpieOrange: #F47C55;
  --caterpieYellow: #FCE496;
  --caterpieShadowGreen: #74A364;
  --caterpieShadowOrange: #BB6346;
  --caterpieShadowYellow: #B6A676;
  --caterpieLightGreen: #C2E1BA;
  --caterpieLightOrange: #F8A68C;
  --caterpieLightYellow: #FDEFBB;
  --caterpieBlack: #161717;
  --caterpieDarkGray: #444647;
  --caterpieLightGray: #727475;
}

body {
  font-family: Helvetica;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#mainNavDiv {
  width: 100%;
  background-color: var(--caterpieGreen);
  text-transform: uppercase;
  overflow: auto;
}

ul#mainNavMenu {
  margin: 0;
  height: 100%;
  list-style: none;
  display: block;
}

a.li.mainNavItem {
  -webkit-appearance: none;
  display: inline-block;
  width: auto;
  padding: 5px 15px 5px 15px;
  list-style-type: none;
  float: left;
  overflow: auto;
  color: var(--caterpieBlack);
  font-weight: bold;
  text-decoration: none;
}

li.mainNavItem:hover {
  background-color: var(--caterpieShadowGreen);
}
