:root {
  --caterpieGreen: #86C776;
  --caterpieOrange: #F47C55;
  --caterpieYellow: #FCE496;
  --caterpieShadowGreen: #74A364;
  --caterpieShadowOrange: #BB6346;
  --caterpieShadowYellow: #B6A676;
  --caterpieLightGreen: #C2E1BA;
  --caterpieLightOrange: #F8A68C;
  --caterpieLightYellow: #FDEFBB;
  --caterpieBlack: #161717;
  --caterpieDarkGray: #444647;
  --caterpieLightGray: #727475;
}

/* Set CSS baseline */
body {
	font-family: Helvetica;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
}
/* End CSS baseline */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
/* New */
#mainNavDiv {
	display: block;
	width: 100%;
	margin: 0;
	background-color: black;
	text-transform: uppercase;
	overflow: auto;
}

ul#mainNavMenu {
	height: 100%;
	margin: 0;
}

ul#mainNavMenu a {
	display: inline-block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 10px 15px 10px 15px;
	width: auto;
	text-decoration: none;
	color: white;
}

ul#mainNavMenu a:hover {
	background-color: darkslategray;
}
